* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.img-responsive {
	height: 300px;
	width: 400px;

}

#carousel {
	margin: 0 auto;
	height: 300px;
	width: 1200px;
	overflow: hidden;
	border: 3px solid yellow;
}

ul {
 	list-style-type: none;
 	width: 2000px;
 }

 li {
 	list-style-type: none;
 	float: left;
 }